.add-expense-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.add-expense-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-expense-form button {
  background-color: #138f47;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}
.add-expense-form button :hover{
  background-color: #bec2bf;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}
